// Define variables for your color scheme

// Agora Colors
$lightblue: rgba(191, 192, 192, 1);
$blue: rgba(79, 93, 117, 1);
$darkblue: rgba(45, 49, 66, 1);
$black: #111218;

$lightred: rgba(239, 131, 84, 1);
$darkred: rgba(196, 108,69,1)

$white: rgba(252, 254, 255, 1);
$lightgray: #F3F3F3;
$gray: #CACBCB;
