// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: rgba(79, 93, 117, 1);
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$lightblue: rgba(191, 192, 192, 1);
$darkblue: rgba(45, 49, 66, 1);
$lightred: rgba(239, 131, 84, 1);
$darkred: rgba(196, 108,69,1);
