.document-to-tag-wrapper {
  position: -webkit-sticky;  // required for Safari
  position: sticky;
  top: 0; // required as well.
  z-index: 100;
  // Navbar height is 70px;
  top: 70px;
  border-bottom: 5px solid white;
}
.new-documents-wrapper {
  padding: 15px;
  height: 33vh;
  border-radius: 3px;
  background-color: $myresultsection;
  overflow: scroll;
}

.add-tags {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 15px;
  height: 53.5vh;
}

.add-tags h3{
  color: $textcolor;
  padding-bottom: 20px;
  font-size: 16px;
}

.tags-bloc {
  min-width: 20%;
}

.tags-container {
  padding: 10px 0;
  overflow: scroll;
}

.add-tags-title {
  margin: 0 0 20px 0;
}

@media (max-width: 600px) {
  .document-to-tag-wrapper {
    top: 60px;
  }
  .add-tags-title {
    font-size: 15px;
  }

  .new-documents-wrapper {
    height: 25vh;
  }

  .add-tags {
    height: 60vh;
  }
}
