.new-documents-wrapper {
  padding: 15px;
  border-radius: 3px;
  // background-color: $myresultsection;
  overflow: scroll;
}

.tags-bloc {
  min-width: 20%;
}

.tags-container {
  // max-height: 30vh;
  padding: 10px 0;
  overflow: scroll;
}

.add-tags-title {
  margin: 0 0 20px 0;
}
