.wrapper-ajout-service {
  padding: 0 40px;
}

.existing-services {
  width: 30%;
  margin-right: 10px;
}

.service-bloc {
  // position: relative;
}

.service-card {
  display: flex;
  padding: 15px;
  justify-content: space-around;
  align-items: center;
}

.service-form {
  padding: 5px;
  width: 120px;
  height: 120px;
  border-radius: 10px 0 10px 0;
  background: white;
}


.service-logo {
  border-radius: 12px;
  padding: 5px;
  width: 100%;
  // background: white;
  // height: 100px;
}

.service-trash {
  // position: absolute;
  // right: 50%;
  // bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
