.document-show {
  padding-top: 10px;
}

.document-wrapper-show {
  position: relative;
}


.document-container-show {
  height: 80vh;
  overflow: scroll;
  padding: 20px 0;
}

.title {
  word-wrap: break-word;
}

.current-tags {
  margin-top: 20px;
}

.add-title {
  word-wrap: break-word;
  margin-top: 20px;
}

.bouton-back-home{
  position: absolute;
  right: -10px;
  top: 10px;
}

.document-show-title {
  width: 400px;
  border-radius: 0;
  &:focus {
    box-shadow: none !important;
  }
}
