.index-wrapper {
  display: flex;
  justify-content: space-around;
  // width: 100%;
  // height: 90vh;
}

.main-section-large {
  width: 100%;
  position: relative;
  padding: 0px 20px;
}

.main-section-medium {
  width: 80%;
  position: relative;
  // padding: 0px 10px;
  // border-top-right-radius: 10px;
}

.search_section {
  position: relative;
  margin-bottom: 20px;
  margin-right: 15px;
  max-height: 7vh;
  display: flex;
  align-items: center;
}

.result-section-wrapper {
  position: relative;
}

.results_section {
  position: relative;
  overflow: scroll;
  background: $myresultsection;
  border-radius: 5px;
  padding: 20px;
}

.results_section_small {
  margin-top: 0px;
  height: 80vh;
}

.results_section_large {
  margin-top: 17px;
  height: 88vh;
}

.tags-bar{
  // margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: scroll;
}

.search-bar {
  margin-left: 30px;
}
