.index-wrapper {
  display: flex;
  justify-content: space-around;
  // width: 100%;
  // height: 90vh;
}

.main-section-large {
  width: 100%;
  position: relative;
  flex-grow: 1;
}

.main-section-medium {
  width: 80%;
  position: relative;
  flex-grow: 1;
  // padding: 0px 10px;
  // border-top-right-radius: 10px;
}

.search_section {
  position: -webkit-sticky;  // required for Safari
  position: sticky;
  top: 0; // required as well.
  z-index: 100;
  // Navbar height is 60px;
  top: 60px;
  background-color: white;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.result-section-wrapper {
  position: relative;
}

.results_section {
  position: relative;
  background: $myresultsection;
  padding: 20px 10px;
  min-height: calc(100vh - 70px);
}

#tags-bar{
  // margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  overflow: scroll;
  position: relative;
}

.search-bar {
  margin-left: 15px;
}


.form-full-body{
  z-index: 9999999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  height: 100%;
  background-color: $primary;
  opacity: 0.7;
}
