.document-show {
  padding-top: 10px;
}
.document-container-show {
  height: 80vh;
  overflow: scroll;
  padding: 10px 0;
}

.title {
  word-wrap: break-word;
}

.current-tags {
  margin-top: 20px;
}

.add-title {
  word-wrap: break-word;
  margin-top: 20px;
}

.bouton-back-home{
  position: absolute;
  right: 30px;
  top: 0;
}
