// Specific CSS for your home-page
body {
  background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
}

.feed {
  margin-top: 40px;
  max-width: 1080px;
}
