.home-background {
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right bottom, rgb(252,197,99) 60%, rgb(255, 255, 255) 50%);
  background-attachment: fixed;
}
