body {
  background-color: $mybeige;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.position-relative {
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.breakword {
  word-break: break-all;
}
.scroll {
  overflow: scroll;
}

.margin-left-md {
  margin-left: 10px;
}

.margin-right-md {
  margin-right: 10px;
}

.float-left {
  float: left;
}

.opacity-full {
  opacity: 1;
}
