body {
  background-color: $mybeige;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  border: none;
}

.position-relative {
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}
.flex-shrink {
  flex-shrink: 1;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.breakword {
  word-break: break-all;
}
.scroll {
  overflow: scroll;
}

.margin-left-md {
  margin-left: 10px;
}

.margin-right-md {
  margin-right: 10px;
}

.margin-bottom-lg {
  margin-bottom: 50px;
}

.float-left {
  float: left;
}

.opacity-full {
  opacity: 1;
}

.opacity-medium {
  opacity: 0.5;
}

.width-100 {
  width: 100%;
}

.title-primary {
  color: $primary !important;
  font-size: 25px;
  margin: 10px 0;
}

.page-center {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.front-element {
  z-index: 9999999999;
}

.white {
  background: white !important;
}

.cache {
  height: 0;
  width: 0;
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: transparent;
    &:focus {
      outline: none;
    }
}

.color-primary {
  color: $primary;
}
.color-text {
  color: $textcolor;
}
.color-white {
  color: white;
}

.title-centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.top-20 {
  top: 20%;
}

.padding-horizontal-10 {
  padding: 5px 10px;
}


.font-25 {
  font-size: 25px;
}

.font-35 {
  font-size: 35px;
}

.none {
  border: none;
  box-shadow: none;
  text-decoration: none;
  background-color: transparent;
}

.font-light {
  font-weight: lighter;
}

