body {
  background-color: $mybeige;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.position-relative {
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.breakword {
  word-break: break-all;
}
.scroll {
  overflow: scroll;
}
