
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <span class="fa fa-times close-modal-button action-style" aria-hidden="true" data-dismiss="modal"></span>
          <h4 class="modal-title title-centered" id="myModalLabel">Connectez votre permier service !</h4>
        </div>
        <div class="modal-body">

          <div class="modal-subtitle">
            En connectant vos services vous profitez de toute la puissance que la plateforme a à vous offrir ! Vous n'aurez plus jamais à aller chercher vos documents vous même, à les classer et les stocker : Agora s'en occupe pour vous.
          </div>

          <div class="features-wrapper">
              <div class="row">
                <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3">test1</div>
                <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3">test1</div>
                <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3">test1</div>
                <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3">test1</div>
              </div>
          </div>

          <div class="row">
            <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
              <p class="btnadd banner-button text-center" data-dismiss="modal">J'ai compris !</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
