// Core variables and mixins
@import "mixins.scss";
// Global CSS
@import "global.scss";
@import "bootstrap.css";
// Components
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "timeline.scss";
@import "team.scss";
@import "contact.scss";
@import "footer.scss";
