#site-content {
height: 100vh;
background-color: $mybeige
// background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('/bamboo.jpg');
// background-repeat: no-repeat;
// background-size: cover;
}

