<div class="banner position-relative">
  <div class="banner-content">
    <div class="container">

        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
            <div class="home-title">
              <h1>Agora</h1>
            </div>
            <div class="home-text-typed">
              <h2 class="titlehome">On s'occupe de tout, <span id="banner-typed-text"></span></h2>
            </div>

            <!-- large screen -->
            <div class="hidden-sm hidden-xs">
              <%= link_to "Je me simplifie la vie !", new_user_registration_path, class: "btnadd banner-button text-center" %>
            </div>

          </div>

          <!-- large screen -->
          <div class="hidden-sm hidden-xs">
            <div class="col-xs-8">
              <%= image_tag("/banner.png", width: '700') %>
            </div>
          </div>

          <!-- small screen -->
          <div class="visible-sm visible-xs">
            <div class="col-xs-8 col-xs-offset-2 banner-image-container-small">
              <%= image_tag("/banner.png", width: '100%') %>
            </div>

            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <%= link_to "Je me simplifie la vie !", new_user_registration_path, class: "btnadd banner-button text-center" %>
            </div>
          </div>

        </div>

    </div>
  </div>
  <i class="fa fa-arrow-down fa-3x color-text arrow-bottom-home link-to-anchor" id='link-to-features-wrapper' aria-hidden="true"></i>
</div>
