<div id="features-section">
    <div class="features-wrapper-content">
      <div class="text-center margin-bottom-lg">
        <p style="font-size: 20px;"><strong>L'administratif personne n'aime ça, moins on s'y frotte mieux on se porte..</strong><p>
          <div class="hidden-xs hidden-sm color-text-light">
            <p>C'est pourquoi on a conçu Agora, la plateforme qui collecte vos documents administratifs directement sur vos espaces clients et les organise à votre place pour que le jour où vous aurez besoin d'un document vous le récupériez en 3 click !</p>
          </div>
          <div class="visible-xs visible-sm color-text-light">
            <p>C'est pourquoi on a conçu Agora, la plateforme qui s'occupe de vos documents administratifs à votre place</p>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-lg-4">
          <div class="feature-picto text-center">
            <i class="fa fa-snowflake-o fa-3x color-primary" aria-hidden="true"></i>
          </div>
          <div class="feature-title text-center">Unique</div>
          <div class="feature-description">
            <p>Toute votre paperasse administrative réunie dans un espace unique accessible depuis votre ordinateur et votre smartphone</p>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-lg-4">
          <div class="feature-picto text-center">
            <i class="fa fa-cubes fa-3x color-primary" aria-hidden="true"></i>
          </div>
          <div class="feature-title text-center">Organisé</div>
          <div class="feature-description">
            <p>Sur Agora vos documents sont classés par tags (assurance, emploi, attestation etc.) pour que vous soyez organisé sans même essayer</p>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-lg-4">
          <div class="feature-picto text-center">
            <i class="fa fa-bolt fa-3x color-primary" aria-hidden="true"></i>
          </div>
          <div class="feature-title text-center">Rapide</div>
          <div class="feature-description">
            <p>Avec Agora, retrouver vos documents le jour où vous en avez besoin est un jeu d'enfant et ne prend pas plus d'une minute</p>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-lg-4">
          <div class="feature-picto text-center">
            <i class="fa fa-magic fa-3x color-primary" aria-hidden="true"></i>
          </div>
          <div class="feature-title text-center">Automatique</div>
          <div class="feature-description">
            <p>Agora se connecte à vos espaces clients (assurance, mutuelle, sécu, impôt, etc.) et récupère vos documents et leur ajoute des tags sans que vous ayez à faire quoi que ce soit</p>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-lg-4">
          <div class="feature-picto text-center">
            <i class="fa fa-motorcycle fa-3x color-primary" aria-hidden="true"></i>
          </div>
          <div class="feature-title text-center">Flexible</div>
          <div class="feature-description">
            <p>Vous avez des documents dans votre boite mail ou sur la table de l'entrée ? Pas de problème, transférez les par mail ou ajoutez les directement sur la plateforme pour les retrouver sur votre espace</p>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-lg-4">
          <div class="feature-picto text-center">
            <i class="fa fa-smile-o fa-3x color-primary" aria-hidden="true"></i>
          </div>
          <div class="feature-title text-center">Simple</div>
          <div class="feature-description">
            <p>Depuis votre compte Agora vous pouvez imprimer, télécharger au format zip ou envoyer par mail les documents que vous souhaitez partager en un seul click</p>
          </div>
        </div>

      </div>
    </div>
</div>
