<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github color-primary"></i></a>
    <a href="#"><i class="fa fa-instagram color-primary"></i></a>
    <a href="#"><i class="fa fa-facebook color-primary"></i></a>
    <a href="#"><i class="fa fa-twitter color-primary"></i></a>
    <a href="#"><i class="fa fa-linkedin color-primary"></i></a>
  </div>
  <div class="footer-copyright">
    <a href="mailto:contact@agora-app.tech">Contact</a>
  </div>
</div>
