<div class="flex-around margin-bottom-lg">
  <div id="quote-section">
    <h5><em>C'est quoi une attestation de droit de sécurité sociale ? Tu trouves ça où ?</em></h5>
    <p color-text-light><em>- Matthieu avant qu'il n'utilise Agora</em></p>
  </div>
</div>
