<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://cache.marieclaire.fr/data/photo/w2000_ci/4v/femme-au-bord-phobie-administrative.jpg');">
  <div class="banner-content">
    <h1>Agora</h1>
    <p>Trouvez le bon document quand vous en avez besoin</p>
    <%= link_to documents_path do %>
      <div class="btn btn-primary btn-lg">Je me simplifie la vie </div>
    <% end %>
  </div>
</div>
