<div class="action-bar-selection">
  <ul class="list-inline">

    <%= link_to unselect_docs_documents_path do %>
      <i class="fa fa-times fa-2x action-style button" aria-hidden="true" ></i>
    <% end %>

    <%= link_to downloadzip_documents_path do %>
      <i class="fa fa-arrow-circle-o-down fa-2x action-style button" aria-hidden="true" ></i>
    <% end %>

   <!-- <i class="fa fa-trash-o fa-2x button" aria-hidden="true" ></i> -->
  </ul>
</div>
