
<div class="add-tags">
  <h3>Ajouter des tags à l'ensemble de vos documents</h3>
  <div class ="new-other-tags" >
    <ul class="list-inline">
      <% @other_tags.each do |t| %>
        <i class="tag listenbatchtag text-center"><%= t.name_clean %></i>
      <% end %>
    </ul>
  </div>
</div>

<div>
  <%= form_tag batch_update_documents_path, method: :patch, class: "batch-update-form" do  %>
    <%= hidden_field_tag :tag_names, nil, class: "batch_tags" %>
    <%= submit_tag 'Save', id:"btnsavedocs", class: "btn btn-primary btnadd", disabled: true %>
  <% end  %>
</div>

