<% if !document.doctags.empty? %>
  <div class="existing-tags">
    <% document.doctags.each do |t| %>
      <%= link_to document_doctag_path(document, t), method: :delete do %>
        <div class="text-center tag-small tag-small-action" id=<%= t.tag.name %>><%= t.tag.name_clean %></div>
      <% end %>
    <% end %>
  </div>
<% end %>
