<div class="modal fade page-center" id="myModal_add_tags" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="fa fa-times close-modal-button action-style dismiss-modal" aria-hidden="true" data-dismiss="modal"></span>
        <h4 class="modal-title text-center" id="myModalLabel">Oops... aucun document n'est sélectionné</h4>
      </div>
      <div class="modal-body">
        <div class="modal-subtitle text-center">
          Pour ajouter un tag commencez par sélectionner un ou plusieurs documents en cliquant dessus, puis cliquez sur les tags que vous souhaitez ajouter. Re-cliquez dessus pour les retirer
        </div>
      </div>
    </div>
  </div>
</div>
