<div class="feed">
  <% @documents_unselected.each do |document| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <%= link_to document_path(document) do %>
      <div class= "master-card">
       <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.0)), url('<%= cl_image_path document.photo, "format" => 'jpg' %>');">
         <div class="card-description">
            <h5><%= document.name.split("/").last.capitalize %></h5>
            <p><%=document.updated_at.strftime("%B %d, %Y") %></p>
         </div>
       </div>
      </div>
    <% end %>
 </div>
  <% end %>
</div>
