<% if !@user_tags.nil? %>
  <div id="tags-bar">
    <% @user_tags.each do |tag| %>
        <i class="tag tag-link listentag" id="<%= tag.name %>"><%= tag.name_clean %></i>
    <% end %>
  </div>
<% end %>








