<div class="search-bar">
  <%= collection_select :search_tag, nil, @user_tags_alphabetic, :name, :name_clean, {include_blank: ''}, {id: "dropdowntag", class: "select2 border-round header-search-input"} %>
</div>
