<% if !@user_tags.nil? %>
  <div id="tags-bar">
  <% @user_tags.each do |tag| %>
    <%#= link_to documents_path(query: tag.name), method: :get, remote: true, class: "tag-link" do %>
      <i class="tag tag-link listentag" id="<%= tag.name %>"><%= tag.name_clean %></i>
    <%# end %>
  <% end %>
</div>

  <div class="clear-tags hidden">
    <%= link_to documents_path, method: :get do %>
      <span class="fa fa-times button" aria-hidden="true" style="margin: 10px"></span>
    <% end %>
  </div>

<% end %>








