<div class="search-bar">
  <%= hidden_field_tag :query, @user_selected_tagnames%>
  <span class="fa fa-search"></span>
  <%= collection_select :search_tag, nil, @user_tags_alphabetic, :name, :name_clean, {include_blank: ''}, {id: "dropdowntag", class: "select2 border-round header-search-input"} %>
</div>
