<% unless @user.documents.empty? %>
  <div class="position-relative flex-around" id="datepicker-button">
      <i class="filter-date-button" style="width: 100px;">Filtrer par date</i>
      <i class="fa fa-calendar font-25 filter-date-button" aria-hidden="true"></i>
      <input class="my-datepicker cache"></input>
    </div>
<% end %>
