
<div class="document-show">
  <div class="container">
    <%= link_to documents_path do %>
    <i class="fa fa-chevron-left fa-2x" aria-hidden="true" style="margin: 10px;"></i>
    <% end %>
    <div class="row">
      <div class="col-xs-9 text-center">
        <div class="document-container-show">
          <%= cl_image_tag @document.photo, class: "large-document",  format: :jpg, density: 300 %>
        </div>
        <div class="action-bar-show">
          <ul class="list-inline">
            <i class="fa fa-share fa-2x action-style" aria-hidden="true" ></i>
            <i class="fa fa-times fa-2x action-style" aria-hidden="true" ></i>
            <%= link_to document_path(@document), method: :delete, :data => {:confirm => 'Are you sure?'} do %>
              <i class="fa fa-trash-o fa-2x action-style" aria-hidden="true"></i>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-xs-3">
        <%= render 'tags_section_show' %>
      </div>
    </div>
  </div>
</div>

