.action-style {
  color: $very-light-gray;
  margin: 10px;
  opacity: 0.8;
}
.action-style:hover {
  opacity: 1;
}

.action-bar-show {
  margin-bottom: 15px;
  width: 100%;
}

.show-add-tags-action {
  width: 0px;
}

.actions-container {
  width: 200px;
}
