.action-bar-results-section {
  position: fixed;
  z-index: 1000;
  border-radius: 40px;
  border: 1px solid $primary;
  background-color: $primary;
  display: flex;
  justify-content: space-around;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  &>.action-element {
      margin: 0px 15px;
      opacity: 1;
    }
  &>.action-element:first-child {
    margin-left: 0px;
  }
  &>.action-element:last-child {
    margin-right: 0px;
  }
}

// HOVER STYLES ON PCs

@media (hover){
  .action-bar-results-section:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .action-bar-results-section>.action-element:hover {
    cursor: pointer;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }
}


