.action-bar-results-section {
  position: fixed;
  top: 30%;
  // left: 10%;
  z-index: 1000;
  padding: 20px 15px;
  // border: 1px solid $primary;
  border-radius: 30px;
  background-color: white;
  margin-left: 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

  &>.action-element {
    margin: 20px 0px;
    opacity: 1;
  }
  &>.action-element:first-child {
    margin-top: 0;
  }
  &>.action-element:last-child {
    margin-bottom: 0;
  }
}


@media (hover){
  .action-bar-results-section:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .action-bar-results-section>.action-element:hover {
    cursor: pointer;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  }
}


