.addbutton {
 font-size: 50px;
 opacity: 0.7;
 color: white;
}
.addbutton:hover {
  opacity: 1;
}
.corner {
  position: fixed;
  bottom: 10px;
  right: 50%;
}

.h2-form {
  color: white;
  font-size: 26px;
  margin-bottom: 30px;
  text-align: center;
}
.form-input {
  margin: 20px;
  padding: 20px;
}

.btnadd {
  height: 60px !important;
  width: 100% !important;
  font-size: 18px;
  margin-top: 20px;
}

.docform {
  padding: 40px;
  text-align: center;
}

.docform #document_photo {
  font-size: 18px;
}

.button2 {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  max-width: 180px;
  text-decoration: none;
  border-radius: 4px;
  padding: 6px 20px;
}


.button2:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}
