.addbutton {
 font-size: 70px;
 opacity: 0.7;
 color: $darkblue;
}

.corner {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.btnadd {
  height: 60px !important;
  width: 100% !important;
  font-size: 18px;
}

.docform {
  padding: 40px;
  width: 100%;
  text-align: center;

}
.docform #document_photo {
  font-size: 18px;
}
