.header-user {
  position: absolute;
  top: 5px;
  right: 0;
}
.addbutton {
 font-size: 50px;
 opacity: 0.7;
 color: $buttoncolor;
}
.ref {
  color: $buttoncolor;
  margin-right: 40px;
  font-size: 25px;
}

.ref:hover {
  opacity: 1;
}

.addbutton2:hover {
  opacity: 1;
}

.addbutton:hover {
  opacity: 1;
}


.h2-form {
  color: $textcolor;
  font-size: 26px;
  margin-bottom: 30px;
  text-align: center;
}
.form-input {
  margin: 20px;
  padding: 20px;
}

.btnadd {
  height: 60px !important;
  width: 100% !important;
  font-size: 18px;
  margin-top: 30px;
  background-color: $buttoncolor;
  color: white;
  border-color: $buttoncolor;
  border-radius: 3px;
}
.btnadd:active {
  outline: none !important;
}
.btnadd:hover {
  background-color: $buttoncolor;
  font-size: 24px !important;
  color: white;
}
.docform {
  padding: 40px;
  text-align: center;
}

.docform #document_photo {
  font-size: 18px;
}

.button2 {
  color: $buttoncolor;
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  max-width: auto;
  text-decoration: none;
  border-radius: 4px;
  padding: 6px 20px;
}


.button2:hover {
  color: $buttoncolor;
  box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}


