/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $primary;
}
.alert-warning {
  background: $red;
}
