.button {
  background-color: $primary;
  color: white;
  box-shadow: none;
  border-radius: 5px;
  border: none;
}

.date-button {
  padding: 5px 10px;
}

.form-button {
  margin-left: 5px;
  padding: 0 20px;
  height: 39px;
}


.button:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.filter-date-button {
  color: $primary;
  margin-left: 15px;
}

.filter-date-button:hover{
  cursor: pointer;
}
