.card-image:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
}

.card-description {
  color: $darkblue;
}

.card-description h5 {
  font-size: 12px;
}

.card-description p {
  font-size: 12px;
  margin: 0px;
}

.card-title {
  height: 28px;
}


#selectionbox {
  width: 5px;
  padding: 5px;
  border-radius: 50%;
  background: transparent;
  transition: background 0.3s ease;
  border: 1.5px solid #A7B0BD;
}

#selectionbox:hover {
  padding: 5px;
  border-radius: 50%;
  background: #5391F7;
  transition: background 0.3s ease;
  border: 2px solid #59C6F9;
}

#selectionbox:active {
  padding: 5px;
  border-radius: 50%;
  transition: background 0.3s ease;
  background: #493DF5;
}



