.card {
  position: relative;
}

.card-image {
  border-radius: 5px;
  box-shadow: 0 0 3px $textcolor;
  opacity: 1;
}

.card-hover {
  box-shadow: 0 0 10px white;
  margin: 0 -3px 0px 0px;
  opacity: 1;
}

.card-image:hover {
  box-shadow: 0 0 10px white;
  margin: 0 -3px 0px 0px;
  opacity: 1;

}

.card-description {
  padding: 20px;
  color: white;
}
.card-description h5 {
  font-size: 15px;
}

.card-description p {
  font-size: 12px;
  opacity: 0.8;
}

.card-title {
  // height: 28px;
}

.selectionbox {
  padding: 7px !important;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease;
  border: 1.5px solid $light-gray;
  position: absolute;
  top: 10px;
  right: 10px;
}

.selectionbox:hover {
  border-radius: 50%;
  background: $light-gray;
  transition: background 0.3s ease;
  border: 2px solid $primary;
}

.selectionbox:active {
  border-radius: 50%;
  transition: background 0.3s ease;
  background: $primary;
  border: 2px solid $primary;
}

.hover-card {
  color: white;
  position: absolute;
  top: 0;
  // bottom: 0;
  left: 0;
  // right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  transition: all 0.5s ease;
  &:hover {
    opacity: 0.9;
  }
}

.newdoc {
  // box-shadow:  0 0 8px 2px $mydarkgreen ;
  border-style: solid;
  border-color: $primary;
  border-width : 4px;
  box-shadow: 0 0 3px $primary;
}

