.card {
  position: relative;
}

.card-image {
  border-radius: 5px;
  border: 2px solid white;
  opacity: 0.9;
}

.card-image:hover {
  box-shadow: 0 0 10px white;
  margin: 0 -3px 0px 0px;
  opacity: 1;
}

.card-description {
  color: $darkblue;
}

.card-description h5 {
  font-size: 12px;
  color: white;
}

.card-description p {
  font-size: 12px;
  margin: 0px;
  color: white;
}

.card-title {
  height: 28px;
}

.selectionbox {
  padding: 7px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease;
  border: 1.5px solid #A7B0BD;
  position: absolute;
  top: 10px;
  right: 10px;
}

.selectionbox:hover {
  border-radius: 50%;
  background: #6BCC93;
  transition: background 0.3s ease;
  border: 2px solid #235530;
}

.selectionbox:active {
  border-radius: 50%;
  transition: background 0.3s ease;
  background: #235530;
  border: 2px solid #6BCC93;
}



