.card {
  position: relative;
}

.card-image:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
}

.card-description {
  color: $darkblue;
}

.card-description h5 {
  font-size: 12px;
}

.card-description p {
  font-size: 12px;
  margin: 0px;
}

.card-title {
  height: 28px;
}

.selectionbox {
  padding: 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease;
  border: 1.5px solid #A7B0BD;
  position: absolute;
  top: 10px;
  right: 10px;
}

.selectionbox:hover {
  border-radius: 50%;
  background: #5391F7;
  transition: background 0.3s ease;
  border: 2px solid #59C6F9;
}

.selectionbox:active {
  border-radius: 50%;
  transition: background 0.3s ease;
  background: #493DF5;
}



