.document-thumbnail{
  width: 150px;
}

.document-thumbnail-large {
  max-width: 200px;
}

@media (max-width: 768px) {
  .document-thumbnail{
    width: 100px;
  }
  .document-thumbnail-large {
    max-width: 100px;
  }
}
