#doc-dropzone {
  // background-color: hsla(0,0%,150%,.2) !important;
  background-color: $very-light-gray;
  opacity: 0.2;
  border-radius: 3px;
  border: none;
  height: 40vw;
  width: 40vw;
  color: black;
}
