.select2-container--default .select2-selection--multiple {
  background-color: transparent !important ;
  color: white;
}

// otherwise there is an other imput
.select2-selection__choice:first-child {
  display: none !important ;
}

.select2-results__options {
  background-color: transparent !important ;
  color: $mygreen;
}
#select2-dropdowntag-results .select2-results__options {
  background-color: transparent !important ;
  color: $mygreen;
}

// selected item
.select2-results__option.select2-results__option--highlighted {
  color: $mygreen !important;
  background-color: $light-gray !important;
}

.border-round {
  border-radius: 5px;
  background-color: $light-gray ;
  color: $light-gray;
  border-color: $light-gray;
}

.select2-results {
  background-color: $very-light-gray;
}

.select2-selection {
  border-color: $light-gray !important;
}
