.select2-container--default .select2-selection--multiple {
  background-color: transparent !important ;
  color: $primary;
}

// otherwise there is an other imput
.select2-selection__choice:first-child {
  display: none !important ;
}

.select2-results__options {
  background-color: transparent !important ;
  color: $primary;
}
#select2-dropdowntag-results .select2-results__options {
  background-color: transparent !important ;
  color: $textcolor;
}

// selected item
.select2-results__option.select2-results__option--highlighted {
  color: $tagcolor2 !important;
  background-color: $tagcolor1 !important;
}

.border-round {
  border-radius: 5px;
  background-color: white;
  color: $primary;
  border-color: $primary;
}

.select2-results {
  background-color: white;
}

.select2-selection {
  border-color: $primary !important;
}
