#doc-dropzone {
  // background-color: hsla(0,0%,150%,.2) !important;
  background-color: $white;
  border: solid 2px $primary;
  opacity: 0.6;
  border-radius: 10px;
  height: 30vw;
  width: 100vw;
  color: black;
}
