.features-wrapper {
  padding: 20px;
  margin-bottom: 50px;
}

.features-wrapper-content {
  padding: 15px 50px;
  border: 5px solid $primary;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 992px) {
  .features-wrapper-small {
    padding: 10px;
  }
}

.features-wrapper-title {
  margin-bottom: 30px;
}

.feature-picto {
  margin-bottom: 10px;
}

.feature-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  color: $primary;
}
