.features-wrapper {
  margin-bottom: 50px;
}

.features-wrapper-content {
  padding: 15px 50px;
  padding-top: 50px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .features-wrapper-content {
    padding: 50px 5px 15px 5px;
  }
}

@media (max-width: 992px) {
  .features-wrapper-small {
    padding: 10px;
  }
}

.features-wrapper-title {
  margin-bottom: 30px;
}

.feature-picto {
  margin-bottom: 10px;
}

.feature-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  color: $primary;
}

.feature-description {
  color: $textcolorlight;
  margin-bottom: 10px;
  min-height: 100px;
}
