.wrapper-ajout-service h1 {
  margin-bottom: 40px;
  color: $very-light-gray;
  font-size: 28px;
}
.wrapper-ajout-service h2 {
  margin-bottom: 30px;
  color: $mydarkgreen;
  font-size: 20px;
  margin: 10px;
  text-align: center;
}

.form-style-6{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: $light-gray;
}
.form-style-6 h1{
    background: $mygreen;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    margin-top: 20px;
    background: $mygreen;
    border-bottom: 2px solid $mydarkgreen;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: $mydarkgreen;
}

.input {
  margin: 20px;
}

.input p {
  color: $mygreen;
}

.form-picture {
  height: 25%;
  width: 25%;
  margin: 20px;
}

/////// services not connected
.service-not-connected {
  opacity: 0.8;
}
.service-not-connected:hover {
  opacity: 1;
}


