.how-it-works-title>h2 {
  color: $primary;
}

.how-it-works-content {
  padding: 50px 10px;
}

@media (min-width: 992px) {
  .how-it-works-content {
    padding: 50px 50px;
  }
}

.how-it-works-feature {
  padding: 10px;
  max-width: 400px;
  margin-bottom: 20px;
}

.how-it-works-feature-title {
  margin-left: 20px;
  font-size: 20px;
}
