.how-it-works-title {
  background-color: $primary;
  border-radius: 5px 5px 0 0;
  padding: 7px;
}

.how-it-works-title>h2 {
  margin: 0;
}

.how-it-works-content {
  border: 2px solid $primary;
  padding: 20px 50px;
  background-color: white;
}

.how-it-works-feature {
  padding: 10px;
  max-width: 350px;
}
