#loader {
  // /*Uncomment this to make it run! */
  animation: loader 5s linear infinite;

  position: relative;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

#box {
  width: 80px;
  height: 80px;
  background: #fff;
  animation: animate .5s linear infinite;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 3px;
}
@keyframes animate {
  17% { border-bottom-right-radius: 3px; }
  25% { transform: translateY(9px) rotate(22.5deg); }
  50% {
    transform: translateY(18px) scale(1,.9) rotate(45deg) ;
    border-bottom-right-radius: 40px;
  }
  75% { transform: translateY(9px) rotate(67.5deg); }
  100% { transform: translateY(0) rotate(90deg); }
}
#shadow {
  width: 100px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}
@keyframes shadow {
  50% {
    transform: scale(1.2,1);
  }
}
