.modal-dialog-show {
  width: 70%;
}
.modal-dialog-add-tags-to-document {
  width: 90%;
  &>.modal-content {
    height: 95vh;
  }
}

.modal-add-tags-to-documents {
  overflow-y: hidden !important;
}

.modal-content {
  border-radius: 5px;
  border: none;
}

.modal-header {
  border-bottom: none;
  color: $primary;
  margin-bottom: 10px;
}

.modal-title {
  width: 70%;
}

.modal-subtitle {
  padding: 0 20px;
  margin-bottom: 15px;
}

.modal-subtitle-large {
  font-size: 20px;
  padding: 0 20px;
  margin-bottom: 15px;
}

#myModalAddByMail {
  margin-top: 200px;
}

#myModal_add_tags {
  margin-top: 200px;
}
.modal-body {
  padding-bottom: 0;
}

// MEDIA RELATED STYLES
@media (min-width: 768px) {
  .modal-dialog {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .modal-dialog-show {
    width: 95%;
  }

  .modal-title {
    font-size: 20px;
    width: 70%;
  }
}
