.modal-dialog {
  width: 80%;
}

.modal-content {
  border-radius: 5px;
  border: none;
}

.modal-header {
  border-bottom: none;
  color: $primary;
}

.modal-subtitle {
  padding: 0 20px;
  margin-bottom: 15px;
}
