/* Main navbar */
.navbar-wagon {
  background: transparent;
  box-shadow-bottom: 0 0 0 2px #4E6CF6 inset;
  transition: all 0.3s ease;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-wagon-brand img {
  height: 40px;
  border-radius: 7px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

input[type=text].header-search-input {
    background-color: hsla(0,0%,150%,.2);
    border-radius: 3px;
    border: none;
    color: white !important;
    float: left;
    font-size: 18px;
    height: 35px;
    margin: 0;
    min-height: 30px;
    padding-right: 30px;
    padding-left: 8px;
    line-height: 19px;
    -webkit-transition: width .15s;
    transition: width .15s;
    width: 250px;
    z-index: 1;
}

.header-search-icon {
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition: background 85ms,color 85ms;
  transition: background 85ms,color 85ms;
  z-index: 2;
}

.search-bar {
    position: relative;
    text-align: center;
}

.search-bar .fa-search {
    position: absolute;
    color: $primary;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 0.8;
}
