.selection_section {
  width: 20%;
  height: 90vh;
  padding: 10px;
  position: relative;
}

.selection-content {
  padding-top: 15px;
  overflow: scroll;
  max-height: 70vh;
}


.selected-document {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;

  // position: relative;
}

// .unselect {
//   position: absolute;
//   right: 5px;
// }

.action-bar-selection {
  position: absolute;
  bottom: 0px;
  right: 20%
}
