.tabs {
  display: flex;
}

.tabs p {
  color: $textcolor;
  margin-bottom: 0;
}
.tab {
  background: white;
  text-align: center;
  padding: 20px 0px;
  width: 100px;
  border-top: 1px solid $myresultsection;
}

.tab:first-child {
  border-radius: 10px 0 0 0;
  border-left: 1px solid $myresultsection;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
  border-right: 1px solid $myresultsection;
}
.tab.active {
  background: $myresultsection;
  color: $textcolor;
}

// HOVER STYLES ON PCs

@media (hover){
  .tab:hover{
  background: $myresultsection;
  color: $textcolor;
    cursor: pointer;
  }
}
