.tabs {
  display: flex;
}
.tabs a {
  color: $textcolor;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  margin-bottom: 0;
}
.tab {
  background: white;
  text-align: center;
  padding: 20px 0px;
  width: 100px;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
  border-left: 1px solid $myresultsection;
  border-top: 1px solid $myresultsection;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
  border-right: 1px solid $myresultsection;
  border-top: 1px solid $myresultsection;
}
.tab.active {
  background: $myresultsection;
  color: $textcolor;
}
