.tag-link {
  margin: 5px;
}

.tag {
  float: left;
  padding: 8px 15px;
  text-align: center;
  border-radius: 4px;
  background-color: $tagcolor2;
  color: $tagcolor1;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  box-shadow: 0 0 0 1px $tagcolor1 inset;
  border: 0px solid $tagcolor1;
}

// .tag-shadow {
//   background-color: white;
//   color: $primary;
//   box-shadow: 0 0 2px $textcolor;
// }

.tag:active {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.tag-small {
  font-size: 15px;
  padding: 4px 8px;
  float: left;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  box-shadow: 0 0 0 1px $tagcolor1 inset;
}

.tag-primary {
  background-color: $primary;
  color: white;
  border: 1px solid white;
}

.tag-white {
  background-color: white;
  color: $primary;
  border: 0px solid $tagcolor1;
}


.tag-small:active {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

.tag-s {
  background-color: $tagcolor1;
  color: $tagcolor2;
}


.tag-s-half {
  background-image: linear-gradient(to right bottom, $primary 50%, rgb(255, 255, 255) 50%);
  color: $textcolor;
}


.existing-tags {
  overflow: scroll;
}

.other-tags {
  overflow: scroll;
  height: 300px;
  padding: 10px 0;
}
.title {
  color: $textcolor ;
}

.form-control {
  color: $primary;
  border: 0px solid $primary;
}

.title .form-control {
  background-color: transparent;
  border: transparent;
  font-size: 20px;
  text-decoration: none;
  box-shadow: none;
  color: $textcolor;
}

.title .form-control:focus {
  border-color: transparent;
  box-shadow: 0 5px 0px 0 rgba(66, 111, 59, 0.1), 0 3px 0 0 rgba(247, 247, 247, 0.1);
}

.new-other-tags {
  margin-top: 30px;
  overflow: scroll;
  max-height: 60vh;
}

.select2-selection__choice {
  display: none !important;
}

.add-tags p {
    color: $textcolor;
    font-weight: bolder;
}

.clear-tags {
  z-index: 200;
}

.tag-container-title {
  margin: 0;
}

// MEDIA RELATED STYLES

@media (max-width: 768px) {
  .tag {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .existing-tags {
    max-height: 90px;
  }
}

@media (min-width: 600px) {
  .existing-tags {
    max-height: 160px;
 }
}

// HOVER STYLES ON PCs

@media (hover){
  .tag:hover{
    opacity: 0.9;
    background-color: $tagcolor1;
    color: $tagcolor2;
    cursor: pointer;
    border: 0px solid $tagcolor2;
  }

  .title .form-control:hover {
    border-color: transparent;
    box-shadow: 0 5px 0px 0 rgba(247, 247, 247, 0.1), 0 3px 0 0 rgba(247, 247, 247, 0.1);
  }

  .tag-small-action:hover{
    opacity: 0.9;
    background-color: $tagcolor1;
    color: $tagcolor2;
    cursor: pointer;
  }

  .tag-s-half:hover {
    color: $textcolor;
  }

  .tag-s:hover {
    opacity: 0.8;
  }
}
