<div class="modal fade" id="myModalAddByMail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="fa fa-times close-modal-button action-style dismiss-modal" aria-hidden="true" data-dismiss="modal"></span>
        <h4 class="modal-title title-centered text-center" id="myModalLabel">Ajouter des documents par email</h4>
      </div>
      <div class="modal-body">
        <div class="modal-subtitle text-center">
          Avec Agora il vous suffit de transférer un mail contenant une pièce jointe pour que celui-ci soit ajouté à votre compte. Agora se charge même de le tagger directement grâce aux informations contenues dans l'email (nom du fournisseur, type de document, date etc.).<br>
          Pour en profiter, rien de plus simple, il vous suffit de transférer vos mails à :<br> <em><strong>agora_doc@agora-app.tech</strong></em>
        </div>
      </div>
    </div>
  </div>
</div>


